/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */

/*
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/

main{
  width:956px;
  margin:20px auto;
  border:1px solid #000;
}

header.primary, footer.primary{
  width:95.81%;
  margin:2.09%;
  background-color:rgba(14, 14, 14, 0.4);
  float:left;
  padding:2.18%;
}

#blog{
  width:63.17%;
  background-color:rgba(0,0,0,.4);
  float:left;
  margin-left:2.09%;
  padding:2.18%;
}

aside{
  width:30.54%;
  float:left;
  background-color:rgba(0,0,0,.4);
  margin-left:2.09%;
  padding:2.18%;
}

aside a:last-of-type{
  display:block;
}