:root{
    --heading-font:'Paytone One', sans-serif;
    --para-font:'Cabin', sans-serif;
}
html {
    box-sizing: border-box;
    position:relative;
    min-height:100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    font-family: var(--para-font);
}
h1, h2{
    font-family: var(--heading-font);
}
nav{
    height:10rem;
}
.navbar img{
    max-width:50%;
}
.nav-item{
    display:flex;
    justify-content:space-evenly;
    font-family: var(--heading-font);
    font-size:1.5em;
}
.header{
    padding-bottom:15px;
}

.about-container{
    display:flex;
    justify-content:space-between;
    padding-top:30px;
    padding-bottom:30px;
    background-image: linear-gradient(to left, #c41717, #db3b64, #db6aa3, #ce95d0, #c5bae7, #b4bbdd, #abb9ce, #aab5be, #88959b, #697679, #4c5858, #313b3a);
}
.about-container img{
    max-width:325px;
    place-items:center;
    margin-left:50px;
    margin-right:50px;
    padding-top:20px;
}
.card .card-body{
    margin:20px;
    padding:20px;
}
.card-body h5{
    text-align:center;
    color:#0f0f0f;
}
.card-body p{
    color:#f0e8e8;
}
.error {
    color: red;
    padding-left: 5px;
}
.formlabel {
    display:inline-block;
    width: 150px;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
#sisterfriendsform{
    margin:40px;
}
#sisterfriendsform h2{
    text-align:center;
    padding-bottom:30px;
}
#contact{
    margin:50px;
}
.col-md-6 .address{
    border-left:#313b3a;
}
.fa{
    padding:40px;
    font-size:40px;
}
a{
    text-decoration:none;
}
.fa-instagram{
    color:rgb(243,78,64);
}
nav{
    margin:0;
    padding:0;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    line-height: 70px;
}
footer h6 a{
    color:red;
}
/*Directory Page */
.card{
    background-image: linear-gradient(to left top, #050507, #343236, #665f64, #9d9094, #d8c4c4);
}
/*Community Page */
.community{
    background-image: linear-gradient(to left, #c41717, #db3b64, #db6aa3, #ce95d0, #c5bae7, #b4bbdd, #abb9ce, #aab5be, #88959b, #697679, #4c5858, #313b3a);
    padding-bottom:30px;
    padding-top:20px;
    margin:0;
}
.community h1{
    margin:20px;
    text-align:center;
}
.community h2{
    margin:20px;
    text-align:center;
}
.community .container-sm{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.community .card-title{
    color:black;
}
.community h5{
    font-size:2.5em;
}
.progress{
    height:40px;
    width:60%;
    align-content:center;
    margin:auto;
}
hr{
    background-color: rgb(31, 39, 39);
    height: 5px;
    }

/* Media Screen */
@media screen and (min-width:150px) and (max-width:499px){
    .nav-item{
        font-size:1em;
    }
    .about-container,
    .card{
        display:flex;
        flex-direction:column;
        margin:5px;
    }
    .cards .container-sm{
        display:grid;
        grid-template-columns:.5fr;
        justify-content:center;
        margin:10px;
    }
    .about-container img{
        max-width:100%;
        place-items:center;
        margin-left:10px;
        padding:10px;
    }
    #contact{
        margin:0;
    }
    .icons{
        text-align:center;
    }
    #sisterfriendsform{
        margin:10px;
        padding:10px;
    }
    #sisterfriendsform .mb-3 h2{
        text-align:center;
        padding-bottom:30px;
    }
    .progress{
        height:40px;
        width:60%;
        align-content:center;
        margin:auto;
    }
}
.header-container{
    padding-bottom:10px;
}
@media screen and (min-width:554px) and (max-width:767px){
    .card .card-img-top{
        max-width:100%;
        align-self:center;
    }
    .community .card-title{
        font-size:1.5em;
    }
    .community .card-body .card-title{
        font-size:18px;
    }
}
@media screen and (min-width:500px) and (max-width:553px){
    .card .card-img-top{
        max-width:100%;
        align-self:center;
    }
    .about-container .card-title{
        font-size:1em;
    }
    .community .card-body .card-title{
        font-size:15px;
    }
}